<p>
  <mat-toolbar color="primary" class="navbar">
 
    <div>

      <button class="navbar_button" routerLink="/procesor">Procesoare</button>
      <button class="navbar_button" routerLink="/video">Placi Video</button>
      <button class="navbar_button" routerLink="/motherboard">Placi de baza</button>
      <button class="navbar_button" routerLink="/RAM">Memorii RAM</button>
      <button class="navbar_button" routerLink="/Memory">SSD/HDD</button>
      <button class="navbar_button" routerLink="/PC_Cases">Carcase</button>


      <button class="navbar_button" routerLink="/login">Login</button>
      <button class="navbar_button" routerLink="/coscumparaturi" matTooltip="Shopping Cart">
        <mat-icon aria-hidden="false">shopping_cart</mat-icon>
      </button>

      <span>Contact</span>
    </div>
  </mat-toolbar>
</p>